* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* COMMON */

body {
    font-family: Edu TAS Beginner, Sometype Mono;
    background-image: url('./img/cork.png');
        /* Specify the image */
        background-size: cover;
        /* Scale the image to cover the container */
        background-position: center;
        /* Center the image */
        background-repeat: no-repeat;
        /* Prevent the image from repeating */
}

.header {
    width: 100%;
    min-height: 70px;
    text-align: center;
    border: 1px solid black;
    background-image: url('./img/wall.png');
}

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;
}

/* .col {
    width: calc(95% / 3);
    border: 2px solid black;
    min-height: 300px;
} */



.card-image {
    margin: 1rem;
    background-color: pink;
    /* min-height: 200px; */
}

.card-text {
    margin: 1rem;
    font-size: 15px;
}